.carouselSectionTrendy {
  @include medidas(fit-content, 100%);
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: scroll;
  padding-right: 1rem;
}

.carouselSectionMonthly {
  @include medidas(fit-content, 100%);
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: scroll;
  padding-right: 6rem;
}

.carouselSectionYearly {
  @include medidas(fit-content, 100%);
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: scroll;
  padding-right: 6rem;
}

.carouselSectionPublishers {
  @include medidas(fit-content, 100%);
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  overflow: scroll;
  padding-right: 6rem;
}