@import '../generalStyles.scss';

.footer {
  @include medidas(100vw, 20vh);
  padding: 0 1rem;
  position: relative;
  overflow: hidden;

  .footerLogo {
    @include medidas(30%, auto);
    margin-bottom: 1rem;
  }

  &_body {
    display: flex;
    gap: 3rem;

    a {
      display: flex;
      align-items: center;
      gap: .5rem;
      text-decoration: none;
      color: #343434;
      margin-bottom: .2rem;
    }

    i {
      display: block;
      @include medidas(1.2rem, 1.2rem);
      background-image: url('../../assets/icons/linkedin-in.svg');
      background-repeat: no-repeat;
      background-size: .8rem;
      background-color: #002F6C;
      background-position: center;
      border-radius: 50%;
      padding: .5rem;
    }
  }
}

.rectangleYellow {
  position: absolute;
  @include medidas(22rem, auto);
  right: 0;
  z-index: -10;
}