@import '../generalStyles.scss';

.heroSection {
  @include medidas(100vw, 50vh);
  position: relative;
  padding: 5rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FBFBFB;

  img {
    position: absolute;
    top: 0;
    z-index: -1;
    @include medidas(100vw, 50vh);
    object-fit: cover;
    filter: brightness(70%);
  }

  h1 {
    overflow-wrap: break-word;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }

  h3 {
    margin-bottom: 4rem;
    font-style: normal;
  }

  &_titles {
    padding: 0 1rem;
  }
}