.menu {
  @include medidas(100vw, 100vh);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  background-color: #FBFBFB;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 10000;
  transition: all .3s ease;
}

.menuClose {
  @include medidas(100vw, 100vh);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  background-color: #FBFBFB;
  right: 100%;
  z-index: 10000;
  transition: all .3s ease;
}

.closeMenuBtn {
  @include medidas(2rem, 2rem);
  background: none;
  outline: none;
  border: none;

  i {
    display: block;
    @include medidas(100%, 100%);
    background-image: url('../../assets/icons/xmark.svg');
    background-repeat: no-repeat;
  }
}


.menuLogo {
  @include medidas(100%, 2rem);
  margin: 1rem 0 0 1rem;
  display: flex;
  justify-content: center;
  position: relative;

  button {
    position: absolute;
    right: 1rem;
  }
}

.menuProfile {
  @include medidas(100%, 3rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 0 1rem;

  img {
    @include medidas(3rem, 3rem);
    border-radius: 50%;
    object-fit: cover;
  }

  h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
}

.menuList {

  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 0 0 1rem;

  li {
    list-style-type: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 0;
    transition: all .3s ease;

    &:hover {
      color: #002F6C;
      list-style-type: square;
      margin-left: 1.5rem;
      transition: all .3s ease;
    }

  }
}

.menuSignOut {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #002F6C;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0 1rem;

  i {
    @include medidas(2rem, 2rem);
    display: block;
    background-image: url('../../assets/icons/signout.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}


.yellowCircle {
  @include medidas(10rem, auto);
  position: absolute;
  right: 0;
  top: 15%;
  object-fit: cover;
  object-position: 5rem 0;
}

.bluePolygon {
  @include medidas(9rem, auto);
  position: absolute;
  top: 60%;
  object-fit: cover;
  z-index: -1;
}

.startMenu {
  @include medidas(10rem, auto);
  position: absolute;
  right: 0;
  top: 80%;
  object-fit: cover;
  object-position: 1rem 0;
}