@import '../generalStyles.scss';

.yearSection {
  @include medidas(100%, 50vh);
  padding: 1.5rem 0rem 0 1rem;
  position: relative;

  &_title {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
  }

  &_icon {
    @include medidas(auto, auto);
    margin-right: .5rem;
  }

  h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
}

.yearCardsSection {
  @include medidas(100%, 35vh);
  overflow-x: scroll;
}

.YearStar {
  @include medidas(28rem, auto);
  position: absolute;
  top: -45%;
  left: -50%;
  z-index: -10;
}