@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.color343434{
    color: #343434;
}
.color67728A{
    color: #67728A;
}
.colorAEC1CC{
    color: #AEC1CC;
}
.colorCFD9E0{
    color: #CFD9E0;
}
.colorE7EBEE{
    color: #E7EBEE;
}
.colorFBFBFB{
    color: #FBFBFB;
}
// ---------------------------------
.color011B5A{
    color: #011B5A;
}
.color002F6C{
    color: #002F6C;
}
.color3F6EAB{
    color: #3F6EAB;
}
.color7DACE9{
    color: #7DACE9;
}
.color0085CA{
    color: #0085CA;
}
.color24A9EE{
    color: #24A9EE;
}
.color51D6F6{
    color: #51D6F6;
}
// ---------------------------------
.colorFC8A29{
    color: #FC8A29;
}
.colorF9D923{
    color: #F9D923;
}
.color36AE7C{
    color: #36AE7C;
}
.colorF73939{
    color: #F73939;
}
// ---------------------------------
// MOBILE
.font-mobile-12{
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.font-mobile-14{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.font-mobile-16{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.font-mobile-18{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
.font-mobile-20{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.font-mobile-24{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
}
.font-mobile-28{
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
}
// ---------------------------------
// DESKTOP
.font-desktop-14{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}
.font-desktop-16{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.font-desktop-20{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}
.font-desktop-24{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}
.font-desktop-28{
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}
.font-desktop-36{
    font-size: 46px;
    line-height: 44px;
    font-weight: 400;
}
.font-desktop-40{
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
}
.font-desktop-48{
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
}