.rectangle {
  @include medidas(50%, auto);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.polygon {
  @include medidas(30%, auto);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}