@import './generalStyles.scss';

.signUp {
  @include medidas(100%, 100vh);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      @include medidas(65%, auto);
    }

    h2 {
      font-style: normal;
    }
  }

  &_inputsContainer {
    @include medidas(100%, auto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    h3 {
      font-style: normal;
    }

    .logInInput {
      @include medidas(100%, auto);
    }

    span {
      @include medidas(100%, auto);
    }

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 0.056px;
      color: #002F6C;
    }
  }

  &_buttonsContainer {
    @include medidas(100%, auto);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .logInButtons {
      @include medidas(100%, auto);
    }

  }
}

.rectangle {
  @include medidas(50%, auto);
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.polygon {
  @include medidas(30%, auto);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}