@import '../../generalStyles.scss';

.trendCard {
  @include medidas(90vw, 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  img {
    @include medidas(100%, auto);
    position: absolute;
    z-index: -1;
    filter: brightness(70%);
  }

  h3 {
    color: #FBFBFB;
    margin: 0 0 0 1rem;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  button {
    @include medidas(fit-content, 2rem);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #FBFBFB;
    border-radius: .1rem;
    margin: 0 0 1rem 1rem;
    color: #FBFBFB;

    i {
      @include medidas(1rem, 1rem);
      background-image: url('../../../assets/icons/calendar-day.svg');
      background-repeat: no-repeat;
      background-size: .8rem;
      background-position: center;
    }

    span {
      margin-left: .2rem;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
  }
}