.yearlyCard {
  @include medidas(70vw, 100%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: .1rem;
  background-color: #FBFBFB;

  &__header {
    @include medidas(100%, 50%);
    background-image: url('../../../assets/eventosFotos/yearlyFoto.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;


    div {
      @include medidas(2rem, 2rem);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: .2rem 0 0 .07rem;
      position: absolute;
      top: .5rem;
      right: .5rem;
      background: #FBFBFB;
      border-radius: 50%;
    }

    i {
      @include medidas(1.3rem, 1.3rem);
      display: block;
      background-image: url('../../../assets/icons/heart.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    span {
      @include medidas(35%, 22%);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(251, 251, 251, 0.70);
    }
  }

  &__info {
    @include medidas(100%, 50%);

  }
}

.yearlyCard__info {
  padding: .2rem 1rem;
}

.yearlyCard__infoHeader {
  @include medidas(100%, 30%);

  display: flex;
  justify-content: space-between;

  h5 {
    @include medidas(60%, 100%);
    display: flex;
    align-items: center;
    color: #B07C17;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  span {
    @include medidas(40%, 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &--iconOne {
    @include medidas(1rem, 1rem);
    display: block;
    background-image: url('../../../assets/icons/paint-brush.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: .3rem;
  }

  &--iconTwo {
    @include medidas(1rem, 1rem);
    display: block;
    background-image: url('../../../assets/icons/clock.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: .3rem;

  }
}

.yearlyCard__infoBody {

  @include medidas(100%, 60%);

  h3 {
    @include medidas(100%, 30%);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
  }

  span {
    @include medidas(100%, 33%);
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-top: 0.3rem;
  }

  &--iconOne {
    @include medidas(1rem, 1rem);
    display: block;
    background-image: url('../../../assets/icons/location-dot.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: .3rem;

  }

  &--iconTwo {
    @include medidas(1rem, 1rem);
    display: block;
    background-image: url('../../../assets/icons/ticket.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: .3rem;

  }
}